<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>You have received the new message from Truhelix.com.</p>
        <p> Please, click the link below to see the message</p>
        <a href="{{link}}">Go to see</a>
    </body>
</html>